name: Test

on:
  push:
    branches:
      - master
      - staging
      - trying

  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize

jobs:
  build:
    strategy:
      matrix:
        node-version: [ 10.x, 12.x ]
        os: [ ubuntu-latest, macos-latest ] # FIXME: prettier can not working on windows.

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build
      - run: npm run lint && npm test
